<form class="{{cssClass}}" autocomplete="off">

    <!-- Background -->
    <section class="background">
        <div class="background__lining">

            <svg class="svg-text" viewBox="0 0 100 10">
                <text class="svg-text__stroke" stroke="{{palette.secondary}}" x="26" y="9">{{svg.text}}</text>
                <text class="svg-text__fill" fill="{{palette.secondary}}" x="26" y="9">{{svg.text}}</text>
            </svg>

            <svg class="svg-bg" viewBox="0 0 850 400">
                <use class="svg-bg__graphic" x="10" y="-15" href="{{svg.bg}}" fill="{{palette.secondary}}" />
            </svg>

        </div>
    </section>

    {{> "character.summary"}}

    <div class="scrollable">
        {{> "character.main-stats"}}

        {{> "stat-list"}}

        {{> "character.nav"}}

        <section data-content>
            
            <div class="tab" data-tab="kit" data-group="character">
                THIs IS THE KIT
            </div>

            <div class="tab" data-tab="biography" data-group="character">
                THIS IS THE FUCKING BIOGRAPHY !!!
            </div>

        </section>
    </div>

</form>