<section class="main-stats">

    <div class="stat-card stam">

        <div class="stat-card-header">
            <img src="./systems/animecampaign/assets/Material Symbols/Stamina.svg" alt="">
            <span>Stamina</span>
        </div>
        <div class="stat-card-footer">
            <div class="extra-info"></div>
            <div class="inputs resource">
                <input type="number" name="system.stamina.value" value="{{system.stamina.value}}" placeholder="0">
                <input type="number" name="system.stamina.max" value="{{system.stamina.max}}" placeholder="0">
            </div>
        </div>

    </div>

    <div class="vertical-line" data-color="{{palette.secondary}}" data-color-props="border-color"></div>

    <div class="stat-card prof">

        <div class="stat-card-header">
            <img src="./systems/animecampaign/assets/Material Symbols/Proficiency.svg" alt="">
            <span>Proficiency</span>
        </div>
        <div class="stat-card-footer">
            <div class="extra-info"></div>
            <div class="inputs value">
                <input type="number" name="system.proficiency.value" value="{{system.proficiency.value}}" placeholder="0">
            </div>
        </div>

    </div>

    <div class="vertical-line" data-color="{{palette.secondary}}" data-color-props="border-color"></div>

    <div class="stat-card move">

        <div class="stat-card-header">
            <img src="./systems/animecampaign/assets/Material Symbols/Movement.svg" alt="">
            <span>Movement</span>
        </div>
        <div class="stat-card-footer">
            <div class="extra-info"></div>
            <div class="inputs value">
                <input type="number" name="system.movement.value" value="{{system.movement.value}}" placeholder="0">
            </div>
        </div>

    </div>

</section>