<ol class="kit tab" data-tab="kit" data-group="actor-tabs">

    {{#each categorizedFeatures as |features category|}}

        <li class="category" data-category="{{category}}">

            <!-- Header -->
            <header data-match-category="background-color">

                <!-- Collapse -->
                <a class="control collapse" title="{{localize config.app.collapseStats}}" data-contrast-category>
                    <i class="fas fa-chevron-down" data-collapse="categories.{{category}}"></i>
                </a>
                
                <h2 data-contrast-category>{{category}}</h2>

                <!-- Settings -->
                <div class="category-controls" data-contrast-category>

                    <a class="control" title="Rename Category">
                        <i class="fas fa-pencil" data-rename-category="{{category}}"></i>
                    </a>
                    <a class="control" title="Change Color">
                        <i class="fas fa-palette" data-color-category="{{category}}"></i>
                    </a>
                    <a class="control" title="Flood Category">
                        <i class="fas fa-fill-drip" data-flood-category="{{category}}"></i>
                    </a>

                </div>

                <!-- Tracked Stats -->
                <div class="tracked-stat-list" data-tracker-list data-contrast-category>

                    <a class="control" title="Track Stat">
                        <i class="fas fa-square-plus" data-track="{{category}}"></i>
                    </a>

                    {{#with (lookup @root.categorizedTrackers category)}}
                        {{#each this as |tracker index|}}
                            <div class="tracked-stat" data-tracker="{{index}}" data-contrast-category="border-color">

                                {{#with (lookup @root.categories category)}}
                                    <div class="tracker-image">
                                        <img src="{{tracker.img}}" data-tracker="{{index}}" data-image-tracker="{{index}}" data-contrast-image="{{this.color}}">
                                    </div>
                                {{/with}}

                                <a class="control" title="Untrack Stat">
                                    <i class="fas fa-xmark" data-untrack="{{index}}"></i>
                                </a>

                                <span class="label">{{tracker.tag}}</span>

                            </div>
                        {{/each}}
                    {{/with}}

                </div>

                <!-- Controls -->
                <div class="list-controls" data-contrast-category="color border-color">

                    <a class="control" title="Add Feature">
                        <i class="fas fa-plus" data-create-feature="{{category}}"></i>
                    </a>
                    <a class="control" title="Delete Category">
                        <i class="fas fa-sack-xmark" data-delete-category="{{category}}"></i>
                    </a>

                </div>

            </header>
            
            <!-- Features -->
            <ol class="feature-list" data-collapse="target categories.{{category}}">
                {{#each features as |feature index|}}

                    {{> "feature" feature}}

                {{/each}}
            </ol>

            <div class="cap" data-match-category="background-color"></div>

        </li>

    {{/each}}


    <a title="Create Category">
        <i class="fas fa-plus" data-create-category></i>
    </a>
    <a title="Add Defaults">
        <i class="fas fa-bars" data-default-category></i>
    </a>

</ol>
