<table class="main-stats">
    <tr>
        <th>{{localize config.mainStat.stamina}}</th>
        <th>{{localize config.mainStat.proficiency}}</th>
        <th>{{localize config.mainStat.movement}}</th>
    </tr>
    <tr>
        <td>
            <input type="number" name="system.stamina.value" value="{{system.stamina.value}}">
            <input type="number" name="system.stamina.max" value="{{system.stamina.max}}">
        </td>
        <td>
            <input type="number" name="system.proficiency.value" value="{{system.proficiency.value}}">
        </td>
        <td>
            <input type="number" name="system.movement.value" value="{{system.movement.value}}">
            <input type="text" name="system.movement.content" value="{{system.movement.content}}">
        </td>
    </tr>
</table>