<ol class="stat-list">
    <header>
        <a title="Add Stat">
            <i data-add-stat class="fas fa-plus"></i>
        </a>
    </header>

    {{#each statList as |stat key|}}
        <li data-stat="{{key}}">

            {{#if (eq ../documentName "Actor")}}

                <!-- Color Select -->
                <select class="color" name="system.stats.{{key}}.color">
                    {{#select stat.color}}
                        {{#each ../config.colorStat as |color key|}}
                            <option value="{{key}}" data-color-stat="{{key}}">{{localize color}}</option>
                        {{/each}}
                    {{/select}}
                </select>

            {{/if}}
            
            <!-- Buttons -->
            <a title="Set View to Value">
                <i class="fas fa-hashtag" data-view-stat="value"></i>
            </a>
            <a title="Set View to Resource">
                <i class="fas fa-percent" data-view-stat="resource"></i>
            </a>
            <a title="Set View to Label">
                <i class="fas fa-font" data-view-stat="label"></i>
            </a>

            <a title="Delete Stat">
                <i class="fas fa-trash" data-delete-stat="{{key}}"></i>
            </a>

            <!-- Inputs -->
            <input type="text" name="system.stats.{{key}}.tag" value="{{stat.tag}}" placeholder="Name">

            {{#if (eq stat.view 'value')}}
                <input type="number" name="system.stats.{{key}}.value" value="{{stat.value}}" placeholder="Value">
            {{/if}}
            {{#if (eq stat.view 'resource')}}
                <input type="number" name="system.stats.{{key}}.value" value="{{stat.value}}" placeholder="Value">
                <input type="number" name="system.stats.{{key}}.max" value="{{stat.max}}" placeholder="Max">
            {{/if}}
            {{#if (eq stat.view 'label')}}
                <input type="text" name="system.stats.{{key}}.label" value="{{stat.label}}" placeholder="Label">
            {{/if}}

        </li>
    {{/each}}

</ol>