<ol class="stat-list">

    <!-- Header -->
    <header class="stat-header">

        <!-- Collapse -->
        <a class="control collapse" title="{{localize config.app.collapseStats}}">
            <i class="fas fa-chevron-down" data-collapse="stats" data-contrast></i>
        </a>

        {{#if (eq documentName "Actor")}}
            <h2 data-contrast>{{localize config.app.colorStats}}</h2>
        {{/if}}

        {{#if (eq documentName "Item")}}
            <h2 data-contrast>{{localize config.app.stats}}</h2>
        {{/if}}

        <span class="label view" data-contrast="color border-color">View</span> 

        <!-- Add Stat -->
        <a class="control add-stat" data-contrast="color border-color" title="{{localize config.app.addStat}}">
            <i class="fas fa-plus" data-add-stat></i>
        </a>

    </header>

    <!-- Stat Entry -->
    {{#each statList as |stat key|}}

        <li class="stat" data-stat="{{key}}" data-collapse="target stats">

            {{#if (eq ../documentName "Actor")}}

                <!-- Color Select -->
                <select class="color" name="system.stats.{{key}}.color">
                    {{#select stat.color}}
                        {{#each ../config.colorStat as |color key|}}
                            <option value="{{key}}" data-color-stat="{{key}}">{{localize color}}</option>
                        {{/each}}
                    {{/select}}
                </select>

            {{/if}}

            {{#if (eq ../documentName "Item")}}

                <!-- Image -->
                <img class="img" src="{{stat.img}}" data-edit="system.stats.{{key}}.img">

            {{/if}}

            <!-- Tag -->
            <input class="tag" type="text" name="system.stats.{{key}}.tag" value="{{stat.tag}}" placeholder="Name">

            <!-- Content -->
            <div class="content">
                {{#if (eq stat.view 'value')}}
                    <input class="content" type="number" name="system.stats.{{key}}.value" value="{{stat.value}}" placeholder="Value">
                {{/if}}

                {{#if (eq stat.view 'resource')}}
                    <input class="content" type="number" name="system.stats.{{key}}.value" value="{{stat.value}}" placeholder="Value">
                    <div class="divider">/</div>
                    <input class="content" type="number" name="system.stats.{{key}}.max" value="{{stat.max}}" placeholder="Max">
                {{/if}}

                {{#if (eq stat.view 'label')}}
                    <input class="content" type="text" name="system.stats.{{key}}.label" value="{{stat.label}}" placeholder="Label">
                {{/if}}
            </div>
            
            <!-- View -->
            <div class="view">
                <a title="Set View to Value">
                    <i class="fas fa-hashtag" data-view-stat="value"></i>
                </a>
                <a title="Set View to Resource">
                    <i class="fas fa-percent" data-view-stat="resource"></i>
                </a>
                <a title="Set View to Label">
                    <i class="fas fa-font" data-view-stat="label"></i>
                </a>
            </div>

            <!-- Delete -->
            <a class="control" title="Delete Stat">
                <i class="fas fa-trash" data-delete-stat="{{key}}"></i>
            </a>
        </li>

    {{/each}}

    <div class="cap"></div>

</ol>