<header class="summary">

    <!-- Background -->
    <div class="background" data-match="background-color"></div>

    <section class="profile">
        <!-- Color -->
        <input class="color" type="color" name="system.color" data-edit="system.color" value="{{system.color}}">

        <!-- Image -->
        <img class="img" src="{{document.img}}" data-edit="img" title="{{document.name}}" data-match="background-color">
    </section>

    <section class="summary-top">
        <!-- Name -->
        <div class="name" data-edit="name" spellcheck='false' contenteditable="plaintext-only" data-name data-enter data-contrast>{{~document.name}}</div>

        {{#if (eq documentName "Actor")}}
            <!-- Class -->
            <textarea class="class" name="system.class" placeholder="Class" data-resize data-enter data-contrast>{{~system.class}}</textarea>
        {{/if}}

        {{#if (eq documentName "Item")}}
            <!-- Proficiency Value -->

        {{/if}}
    </section>

    <section class="summary-bottom">
        
        {{#if (eq documentName "Actor")}}
            <!-- Type of mundie or epithet user -->
            <select class="type" name="system.type">

                <optgroup label="{{localize config.powerset.inscribed}}">
                    {{#select system.type}}
                        {{#each config.type.inscribed as |name key|}}
                            <option value="{{key}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </optgroup>
                
                <optgroup label="{{localize config.powerset.mundie}}">
                    {{#select system.type}}
                        {{#each config.type.mundie as |name key|}}
                            <option value="{{key}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </optgroup>

            </select>

            <!-- Core Word or Epithet -->
            <input class="word" type="text" name="system.word" value="{{system.word}}" placeholder="Epithet/Core Word">
        {{/if}}

        {{#if (eq documentName "Item")}}
            <!-- Category -->
            <select class="category-select" name="! system.category">
                {{! #select system.category}}
                    {{#each categories as |category index|}}
                        <option>{{category}}</option>
                    {{/each}}
                {{! /select}}
            </select>
            <input class="category-input" type="text" name="system.category" value="{{system.category}}">
        {{/if}}

    </section -->
    
</header>
