<header class="summary">
    <div class="background"></div>
    <input class="background-input" type="color" name="system.color" data-edit="system.color" value="{{actor.system.color}}">
    <img class="img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100px" width="100px">

    <section class="summary-top">
        <textarea class="name" name="name" placeholder="Name">{{actor.name}}</textarea>
        <textarea class="class" name="system.class" placeholder="Class">{{actor.system.class}}</textarea>
    </section>

    <section class="summary-bottom">
        <select class="type">
            <option value="epithet">Epithet</option>
            <option value="mundie">Mundie</option>
        </select>
        <input class="word" name="system.word" type="text" value="{{actor.system.word}}" placeholder="Epithet/Core Word">
    </section>
    
</header>
