<div class="config__group">
    <label class="config__label">Roll Formula</label>
    <input class="config__input" type="text" name="details.formula" value="{{object.details.formula}}">
</div>

<div class="config__group">
    <label class="config__label">Action</label>
    <input class="config__input" type="text" name="details.action" value="{{object.details.action}}">
</div>

<div class="config__group">
    <label class="config__label">Usage</label>
    <div class="config__fields">
        <input class="config__input" type="text" name="details.usage.multiple" value="{{object.details.usage.multiple}}">
        <span class="config__inner-label">per</span>
        <input class="config__input" type="text" name="details.usage.timeframe" value="{{object.details.usage.timeframe}}">
    </div>
</div>

<hr class="config__hr">

<div class="config__group">
    <label class="config__label">Text Editor</label>
    <select class="config__input" name="details.editor">
        {{selectOptions config.textEditors selected=object.details.editor localize=true}}
    </select>
</div>