<ol class="stat-list" data-stat-list>

    <!-- Header -->
    <header class="stat-header">

        <!-- Collapse -->
        <a class="control collapse" data-collapse="stat-list" data-tooltip="AC.TOOLTIP.Stat.Collapse">
            <i class="fas fa-chevron-down"></i>
        </a>

        {{#if (eq documentName "Actor")}}
            <h2 >{{localize "AC.LABEL.ColorStats"}}</h2>
        {{/if}}

        {{#if (eq documentName "Item")}}
            <h2 >{{localize "AC.LABEL.Stats"}}</h2>
        {{/if}}

        {{#if owner}}
            <span class="label view">{{localize "AC.LABEL.View"}}</span> 

            <!-- Add Stat -->
            <a class="control add-stat" data-tooltip="AC.TOOLTIP.Stat.Add">
                <i class="fas fa-plus" data-add></i>
            </a>
        {{/if}}

    </header>

    <!-- Stat Entry -->
    {{#each statList as |stat key|}}

        <li class="stat" data-stat="{{key}}" data-collapse-target="stat-list">

            {{#if (eq ../documentName "Actor")}}

                <!-- Color Select -->
                <select class="color" name="system.stats.{{key}}.color" data-match-select="{{key}}">
                    {{#select stat.color}}
                        {{#each @root.config.colorStat as |color key|}}
                            <option value="{{key}}" data-color-option="{{key}}">{{localize color}}</option>
                        {{/each}}
                    {{/select}}
                </select>

            {{/if}}

            {{#if (eq ../documentName "Item")}}

                <!-- Image -->
                <img class="img" src="{{stat.img}}" data-edit="system.stats.{{key}}.img">

            {{/if}}

            <!-- Tag -->
            <input class="tag" type="text" name="system.stats.{{key}}.tag" value="{{stat.tag}}" placeholder="{{localize "AC.LABEL.Tag"}}">

            <!-- Content -->
            <div class="content">
                {{#if (eq stat.view 'value')}}
                    <input class="content" type="number" name="system.stats.{{key}}.value" value="{{stat.value}}" placeholder="{{localize "AC.LABEL.Value"}}">
                {{/if}}

                {{#if (eq stat.view 'resource')}}
                    <input class="content" type="number" name="system.stats.{{key}}.value" value="{{stat.value}}" placeholder="{{localize "AC.LABEL.Value"}}">
                    <div class="divider">/</div>
                    <input class="content" type="number" name="system.stats.{{key}}.max" value="{{stat.max}}" placeholder="{{localize "AC.LABEL.Max"}}">
                {{/if}}

                {{#if (eq stat.view 'label')}}
                    <input class="content" type="text" name="system.stats.{{key}}.label" value="{{stat.label}}" placeholder="{{localize "AC.LABEL.Label"}}">
                {{/if}}
            </div>

            {{#if @root.owner}}
                <div class="line"></div>
                
                <!-- View -->
                <div class="view">
                    <a data-tooltip="AC.TOOLTIP.Stat.Value">
                        <i class="fas fa-hashtag" data-view="value"></i>
                    </a>
                    <a data-tooltip="AC.TOOLTIP.Stat.Resource">
                        <i class="fas fa-percent" data-view="resource"></i>
                    </a>
                    <a data-tooltip="AC.TOOLTIP.Stat.Label">
                        <i class="fas fa-font" data-view="label"></i>
                    </a>
                </div>

                <!-- Delete -->
                <a class="control" data-tooltip="AC.TOOLTIP.Stat.Remove">
                    <i class="fas fa-trash" data-remove></i>
                </a>
            {{/if}}

        </li>

    {{/each}}

    {{#if emptyStats}}
        <div class="empty">&middot; &middot; &middot; {{localize "AC.LABEL.EmptyStats"}} &middot; &middot; &middot;</div>
    {{/if}}

    <div class="cap"></div>

</ol>