<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.RollConfig.Formula.Label"}}</label>
    <input class="Config__Input" type="text" name="formula" value="{{formula}}" placeholder="1d20">
</div>

<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.RollConfig.Modifier.Label"}}</label>
    <input class="Config__Input" type="text" name="modifier" placeholder="{{localize "AC.RollConfig.Modifier.Placeholder"}}">
</div>

<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.RollConfig.RollMode.Label"}}</label>
    <select class="Config__Input" name="rollMode">
        {{selectOptions rollModes localize=true}}
    </select>
</div>

<div class="Config__Group Config__Group--RadioBoxes">
    {{radioBoxes "rollType" rollTypes checked="normal" localize=true}}
</div>