<section>

    <div class="Dialog__Content Config">

        <div class="Config__Group">
            <label class="Config__Label">{{localize "AC.DIALOG.AddStat.Tag.Label"}}</label>
            <input class="Config__Input Config__Input--Caps" type="text" name="tag" value="{{stat.tag}}" placeholder="{{localize "AC.DIALOG.AddStat.Placeholder"}}" autofocus>
        </div>

        <div class="Config__Group">
            <label class="Config__Label">{{localize "AC.DIALOG.AddStat.Display.Label"}}</label>
            <select class="Config__Input" name="view">
                {{selectOptions config.displays selected=stat.view localize=true}}
            </select>
            <p class="Config__Notes">
                {{{localize "AC.DIALOG.AddStat.Display.Notes"}}}
            </p>
        </div>

        {{#if (eq document.documentName "Actor")}}
            <hr class="Config__HorizontalBreak">

            <div class="Config__Group">
                <label class="Config__Label">{{localize "AC.DIALOG.AddStat.Color.Label"}}</label>
                <select class="Config__Input" name="color">
                    {{selectOptions colors selected=stat.color localize=true}}
                </select>
                <p class="Config__Notes">
                    {{{localize "AC.DIALOG.AddStat.Color.Notes"}}}
                </p>
            </div>
        {{/if}}

    </div>

    <div class="Dialog__Buttons">

        <button class="ACButton ACButton--Dialog" type="submit" autofocus>
            <span class="ACButton__Icon MSO">save</span>
            <span class="ACButton__Text">
                {{#if isNew}}
                    {{localize "AC.DIALOG.AddStat.Submit"}}
                {{else}}
                    {{localize "AC.DIALOG.EditStat.Submit"}}
                {{/if}}
            </span>
        </button>

    </div>

</section>