<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.StatConfig.Tag.Label"}}</label>
    <input class="Config__Input Config__Input--Caps" type="text" name="tag" value="{{stat.tag}}" placeholder="{{localize "AC.StatConfig.Tag.Placeholder"}}" autofocus>
</div>

<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.StatConfig.Display.Label"}}</label>
    <select class="Config__Input" name="view">
        {{selectOptions config.displays selected=stat.view localize=true}}
    </select>
    <p class="Config__Notes">
        {{{localize "AC.StatConfig.Display.Notes"}}}
    </p>
</div>

{{#if (eq document.documentName "Actor")}}
    <hr class="Config__HorizontalBreak">

    <div class="Config__Group">
        <label class="Config__Label">{{localize "AC.StatConfig.Color.Label"}}</label>
        <select class="Config__Input" name="color">
            {{selectOptions colors selected=stat.color localize=true}}
        </select>
        <p class="Config__Notes">
            {{{localize "AC.StatConfig.Color.Notes"}}}
        </p>
    </div>
{{/if}}