{{#if sections.length}}
    <ol class="section-list">

        {{#each sections as |section index|}}
            <li class="section" data-visible="{{section.visible}}">

                <!-- Name -->
                <header>
                    <a class="collapse" data-collapse="{{index}}" data-visible="{{section.visible}}">
                        <i class="fas fa-chevron-down"></i>

                        <span class="name">{{section.name}}</span>
                    </a>

                    <div class="line"></div>
                </header>

                <!-- Text -->
                <div class="text" data-collapse="target {{index}}">
                    {{{section.richtext}}}
                </div>

            </li>
        {{/each}}

    </ol>
{{/if}}