{{#if sections.length}}
    <ol class="section-list">

        {{#each sections as |section index|}}
            <li class="section" data-visible="{{section.visible}}">

                <!-- Name -->
                <header>
                    <a class="collapse">
                        <i class="fas fa-chevron-down" data-collapse="{{index}}" data-visible="{{section.visible}}"></i>
                    </a>

                    <span class="name">{{section.name}}</span>

                    <div class="line"></div>
                </header>

                <!-- Text -->
                <p class="text" data-collapse="target {{index}}">{{{section.text}}}</p>

            </li>
        {{/each}}

    </ol>
{{/if}}