{{#if stats.length}}
    <ol class="stat-list">

        {{#each stats as |stat index|}}
            <li class="stat">

                <!-- Labels -->
                <img src="{{stat.img}}">
                <span class="tag">{{stat.tag}}</span>

                <!-- Numbers -->
                <div class="stat-numbers">

                    {{#if (eq stat.view 'value')}}
                        <span class="value">{{stat.value}}</span>
                    {{/if}}

                    {{#if (eq stat.view 'resource')}}
                        <span class="resource-value">{{stat.value}}</span>
                        <span class="resource-max">/&thinsp;{{stat.max}}</span>
                    {{/if}}

                    {{#if (eq stat.view 'label')}}
                        <span class="label">{{stat.label}}</span>
                    {{/if}}
                    
                </div>
                
            </li>
        {{/each}}

    </ol>
{{/if}}