<section class="summary">

    <!-- Background -->
    <div class="background" style="background-color: {{match}};"></div>

    <!-- Image -->
    <img src="{{img}}" style="background-color: {{match}};">

    <!-- Name -->
    <h2 class="name" style="color: {{contrast}};">{{name}}</h2>

    <!-- Category -->
    <span class="category">{{system.category}}</span>

    <!-- Action -->

</section>