<section class="summary">

    <!-- Background -->
    <div class="background" style="background-color: {{match}};"></div>

    <!-- Image -->
    <img class="img" src="{{img}}" style="background-color: {{match}};">

    <!-- Name -->
    <h2 class="name" style="color: {{contrast}};">{{name}}</h2>

    <!-- Category -->
    <span class="category">{{system.category}}</span>

    <!-- Action -->
    <img class="action" style="filter: {{contrastImg}};" src="{{system.details.action.img}}" alt="system/animecampaign/assets/transparent.svg">

</section>