<section class="Summary">

    <div class="Summary__ImageWrapper">
        
        {{#if document.img}}
            <img class="Summary__Image" src="{{document.img}}" style="border-color: {{palette.primary}};">
            <div class="Summary__ImageEdit" data-action="onEditImage" data-tooltip="AC.FeatureSheet.EditImage">
                <span class="Summary__ImageEditIcon MSO">edit</span>
            </div>
        {{else}}
            <div class="Summary__Image Summary__Image--Null" style="color: {{palette.primary}};">
                <div class="Summary__ImageIcon MSO">stat_0</div>
            </div>
            <div class="Summary__ImageEdit Summary__ImageEdit--Null" data-action="onEditImage" data-tooltip="AC.FeatureSheet.EditImage">
                <span class="Summary__ImageEditIcon MSO">edit</span>
            </div>
        {{/if}}

    </div>
    
    <div class="Summary__Info">

        <textarea class="Summary__Name JS-ResizeTextArea JS-Enter" name="name" spellcheck="false" placeholder="{{localize "AC.FeatureSheet.Name"}}">{{document.name}}</textarea>

        <div class="Summary__InfoFooter" style="background-color: {{palette.primary}};">
            <input class="Summary__FooterInput" name="system.category" type="text" value="{{system.category}}" placeholder="{{localize "AC.FeatureSheet.Category"}}" style="border-color: {{palette.primary}};">
        </div>
    </div>

    <div class="Summary__Buttons">

        {{#if (gte permission 3)}}
            {{#if document.img}}
                <button class="ACButton ACButton--Delete" type="button" data-action="onRemoveImage" data-tooltip="AC.FeatureSheet.RemoveImage">
                    <span class="ACButton__Icon MSO">hide_image</span>
                </button>
            {{/if}}

            <button class="ACButton" type="button" data-action="onInvokeColorPicker" data-tooltip="AC.FeatureSheet.EditColor" style="color: {{palette.secondary}}; border-color: {{palette.secondary}};">
                <span class="ACButton__Icon MSO">palette</span>
            </button>
            <input class="Summary__HiddenColor JS-InvokeColorPicker" type="color" name="system.color" value="{{system.color}}">
        {{/if}}

        <button class="ACButton" type="button" data-action="onRoll" data-tooltip="AC.FeatureSheet.FeatureRoll" style="color: {{palette.secondary}}; border-color: {{palette.secondary}};">
            <span class="ACButton__Icon MSO">ifl</span>
        </button>

    </div>

</section>