<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.Details.RollFormula.Label"}}</label>
    <input class="Config__Input" type="text" name="{{prefix}}details.formula" value="{{details.formula}}" placeholder="{{localize "AC.NotApplicable"}}">
</div>

<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.Details.Action.Label"}}</label>
    <input class="Config__Input" type="text" name="{{prefix}}details.action" value="{{details.action}}">
</div>

<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.Details.Usage.Label"}}</label>
    <div class="Config__Fields">
        <input class="Config__Input" type="text" name="{{prefix}}details.usage.multiple" value="{{details.usage.multiple}}" placeholder="--">
        <input class="Config__Input" type="text" name="{{prefix}}details.usage.timeframe" value="{{details.usage.timeframe}}">
    </div>
</div>