<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.Details.RollFormula.Label"}}</label>
    <input class="Config__Input" type="text" name="{{prefix}}details.formula" value="{{details.formula}}" placeholder="{{localize "AC.Details.RollFormula.Placeholder"}}">
</div>

<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.Details.Action.Label"}}</label>
    <input class="Config__Input" type="text" name="{{prefix}}details.action" value="{{details.action}}" placeholder="{{localize "AC.Details.Action.Placeholder"}}">
</div>

<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.Details.Usage.Label"}}</label>
    <div class="Config__Fields">
        <input class="Config__Input" type="text" name="{{prefix}}details.usage.multiple" value="{{details.usage.multiple}}" placeholder="--">
        <input class="Config__Input" type="text" name="{{prefix}}details.usage.timeframe" value="{{details.usage.timeframe}}">
    </div>
</div>

<hr class="Config__HorizontalBreak">

<div class="Config__Group">
    <label class="Config__Label">{{localize "AC.Details.TextEditor.Label"}}</label>
    <select class="Config__Input" name="{{prefix}}details.editor">
        {{selectOptions config.textEditors selected=details.editor localize=true}}
    </select>
</div>