<section class="main-stats">
    
    <!-- Stamina -->
    <div class="main-stats__stam">
        <div class="stat-card">

            <div class="stat-card__header">
                <img class="stat-card__img" src="./systems/animecampaign/assets/Material Symbols/Stamina.svg">
                <span class="stat-card__tag">{{localize "AC.STAT.Stamina"}}</span>
            </div>

            <div class="stat-card__footer">
                <div class="stat-card__extra-info">
                    <div class="main-stats__stam-bar-bg">
                        <div class="main-stats__stam-bar-gauge" data-stam-bar></div>
                    </div>
                </div>
                <div class="stat-card__input-list">

                    <input type="number" class="stat-card__input stat-card__input--numerator" name="system.stamina.value" value="{{system.stamina.value}}" placeholder="0">
                    <input type="number" class="stat-card__input stat-card__input--denominator" name="system.stamina.max" value="{{system.stamina.max}}" placeholder="0">

                </div>
            </div>

        </div>
    </div>

    <!-- Proficiency -->
    <div class="main-stats__prof" data-color="{{palette.secondary}}">
        <div class="stat-card">

            <div class="stat-card__header">
                <img class="stat-card__img" src="./systems/animecampaign/assets/Material Symbols/Proficiency.svg">
                <span class="stat-card__tag">{{localize "AC.STAT.Proficiency"}}</span>
            </div>

            <div class="stat-card__footer">
                <div class="stat-card__extra-info">
                    <div class="main-stats__prof-class" data-prof-class>
                        <div class="main-stats__prof-class-label">{{localize "AC.LABEL.Class"}}</div>
                        <div class="main-stats__prof-class-level">{{system.classLevel}}</div>
                    </div>
                </div>
                <div class="stat-card__input-list">

                    <input type="number" class="stat-card__input stat-card__input--value" name="system.proficiency.value" value="{{system.proficiency.value}}" placeholder="0">
                    
                </div>
            </div>

        </div>
    </div>

    <!-- Movement -->
    <div class="main-stats__move">
        <div class="stat-card">

            <div class="stat-card__header">
                <img class="stat-card__img" src="./systems/animecampaign/assets/Material Symbols/Movement.svg">
                <span class="stat-card__tag">{{localize "AC.STAT.Movement"}}</span>
            </div>

            <div class="stat-card__footer">
                <div class="stat-card__extra-info">
                    <input type="text" class="stat-card__extra-field-input" name="system.movement.label" value="{{system.movement.label}}">
                    <label for="system.movement.label" class="stat-card__extra-field-label">{{localize "AC.LABEL.Build"}}</label>
                </div>
                <div class="stat-card__input-list">

                    <input type="number" class="stat-card__input stat-card__input--value" name="system.movement.value" value="{{system.movement.value}}" placeholder="0">

                </div>
            </div>

        </div>
    </div>
    
</section>