<ul class="Kit tab {{tabs.kit.css}}" data-tab="kit" data-group="character">

    {{log this}}

    {{#each categories as |category index|}}
        <li class="Category" data-category="{{category.name}}">

            <div class="Category__Header JS-Color" data-color="{{palette.primary}}" data-properties="background-color">
                
                <div class="Category__HeaderLeft JS-Color" data-color="{{palette.contrast}}">
                    
                    <button class="ACButton ACButton--Inline ACButton--{{palette.css}}" type="button" data-action="onCategoryCollapse" data-tooltip="AC.CharacterSheet.CategoryCollapse">
                        <span class="ACButton__Icon MSO">keyboard_arrow_down</span>
                    </button>

                </div>

                <div class="Category__HeaderCenter JS-Color" data-color="{{palette.contrast}}">

                    <span class="Category__Name">
                        {{category.name}}
                    </span>

                    <div class="Category__Buttons InlineButtonGroup">
                        <button class="ACButton ACButton--Inline ACButton--{{palette.css}}" type="button" data-action="onCategoryEdit" data-tooltip="AC.CharacterSheet.CategoryEdit">
                            <span class="ACButton__Icon MSO">edit</span>
                        </button>

                        <button class="ACButton ACButton--Inline ACButton--{{palette.css}}" type="button" data-action="onCategoryFlood" data-tooltip="AC.CharacterSheet.CategoryFlood">
                            <span class="ACButton__Icon MSO">colors</span>
                        </button>
                    </div>

                    <div class="Category__Padding"></div>

                    <div class="Category__Trackers">
                        {{! trackers}}
                    </div>

                    <div class="Category__Buttons InlineButtonGroup">
                        <button class="ACButton ACButton--Inline ACButton--{{palette.css}}" type="button" data-action="onFeatureAdd" data-tooltip="AC.CharacterSheet.FeatureAdd">
                            <span class="ACButton__Icon MSO">add</span>
                        </button>

                        <button class="ACButton ACButton--Inline ACButton--Delete" type="button" data-action="onCategoryDelete" data-tooltip="AC.CharacterSheet.CategoryDelete">
                            <span class="ACButton__Icon MSO">close</span>
                        </button>
                    </div>

                </div>

                <div class="Category__HeaderRight"></div>

            </div>

            <ul class="Category__Features">

                {{#each category.features as |feature index|}}

                    {{log feature}}
                    <li class="FeatureEntry JS-FeatureEntry JS-Color" data-id="{{feature.id}}" data-color="{{feature.system.color}}" data-properties="border-color">

                        <div class="FeatureEntry__Info">

                            <div class="FeatureEntry__ImageWrapper">

                                {{#if feature.img}}
                                    <img class="FeatureEntry__Image" src="{{feature.img}}">
                                {{else}}
                                    <span class="FeatureEntry__Image FeatureEntry__Image--Null JS-Color" data-color="{{feature.system.color}}">
                                        <span class="FeatureEntry__ImageIcon MSO">stat_0</span>
                                    </span>
                                {{/if}}

                                <span class="FeatureEntry__Roll MSO" data-tooltip="AC.CharacterSheet.FeatureRoll">ifl</span>

                            </div>

                            <button class="FeatureEntry__Name ACButton ACButton--Inline" type="button" data-action="onFeatureCollapse" data-tooltip="AC.CharacterSheet.FeatureCollapse">
                                <span class="FeatureEntry__NameText">{{feature.name}}</span>
                                <div class="FeatureEntry__CollapseIcon ACButton__Icon MSO">arrow_drop_down</div>
                            </button>

                            <div class="FeatureEntry__StatTrackers"></div>

                            <div class="FeatureEntry__Buttons InlineButtonGroup">
                                <button class="ACButton ACButton--Inline" type="button" data-action="onFeatureEdit" data-tooltip="AC.CharacterSheet.FeatureEdit">
                                    <div class="ACButton__Icon MSO">edit</div>
                                </button>

                                <button class="ACButton ACButton--Inline ACButton--Delete" type="button" data-action="onFeatureDelete" data-tooltip="AC.CharacterSheet.FeatureDelete">
                                    <div class="ACButton__Icon MSO">close</div>
                                </button>
                            </div>
                        </div>

                        <div class="FeatureEntry__Content"></div>
                        
                    </li>
                {{/each}}

            </ul>

        </li>
    {{/each}}

</ul>