<ul class="Kit tab" data-tab="kit" data-group="character">

    {{#each categories as |category index|}}
        <li class="Category">

            <div class="Category__Header JS-Color" data-color="{{palette.primary}}" data-properties="background-color">
                <div class="Category__HeaderLeft JS-Color" data-color="{{palette.contrast}}">

                    <button class="ACButton ACButton--Circle JS-Color" type="button" data-color="{{palette.secondary}}" data-properties="border-color color">
                        <span class="ACButton__Icon MSO">keyboard_arrow_down</span>
                    </button>

                </div>

                <div class="Category__HeaderCenter JS-Color" data-color="{{palette.contrast}}">
                    <span class="Category__Name">
                        {{category.name}}
                    </span>

                    <div class="Category__Buttons">
                        <button class="ACButton ACButton--Circle JS-Color" type="button" data-color="{{palette.secondary}}" data-properties="border-color color">
                            <span class="ACButton__Icon MSO">edit</span>
                        </button>

                        <button class="ACButton ACButton--Circle JS-Color" type="button" data-color="{{palette.secondary}}" data-properties="border-color color">
                            <span class="ACButton__Icon MSO">colors</span>
                        </button>
                    </div>

                </div>

                <div class="Category__HeaderRight JS-Color" data-color="{{palette.contrast}}">

                    <button class="ACButton ACButton--Circle JS-Color" type="button" data-color="{{palette.secondary}}" data-properties="border-color color">
                        <span class="ACButton__Icon MSO">add</span>
                    </button>

                    <button class="ACButton ACButton--Circle ACButton--Delete" type="button">
                        <span class="ACButton__Icon MSO">close</span>
                    </button>

                </div>
            </div>

            <ul class="Category__Features">

                {{#each category.features as |feature index|}}

                    {{log feature}}
                    <li class="FeatureEntry">

                        <div class="FeatureEntry__LeftPadding">
                        </div>

                        <div class="FeatureEntry__Info JS-Color" data-color="{{feature.system.color}}" data-properties="border-color">
                            <img class="FeatureEntry__Image" src="{{feature.img}}">

                            <div class="FeatureEntry__InfoHeader">
                                <span class="FeatureEntry__Name">{{feature.name}}</span>
                            </div>
                        </div>
                        
                        <div class="FeatureEntry__RightPadding">
                            <button class="ACButton ACButton--Circle JS-Color" type="button" data-color="{{feature.system.palette.secondary}}" data-properties="border-color color">
                                <div class="ACButton__Icon MSO">edit</div>
                            </button>

                            <button class="ACButton ACButton--Circle ACButton--Delete" type="button">
                                <div class="ACButton__Icon MSO">close</div>
                            </button>
                        </div>
                        
                    </li>
                {{/each}}

            </ul>

        </li>
    {{/each}}

</ul>