<section class="Summary">

    <div class="Summary__ImageWrapper">
        
        <img class="Summary__Image" src="{{document.img}}" style="border-color: {{palette.primary}}">
        {{#if (gte permission 3)}}
            <div class="Summary__ImageEdit" data-action="onEditImage" data-tooltip="AC.CharacterSheet.EditImage">
                <span class="Summary__ImageEditIcon MSO">edit</span>
            </div>
        {{/if}}

    </div>
    
    <div class="Summary__Info">

        <textarea class="Summary__Name JS-ResizeTextArea JS-Enter JS-OwnerInput" name="name" spellcheck="false" placeholder="{{localize "AC.CharacterSheet.Name"}}">{{document.name}}</textarea>
        <input class="Summary__Class JS-OwnerInput" type="text" name="system.class" placeholder="{{localize "AC.CharacterSheet.Class"}}" value="{{system.class}}">

        <div class="Summary__InfoFooter" style="background-color: {{palette.primary}};">

            <select class="Summary__FooterSelect JS-OwnerInput" name="system.type" style="color: {{palette.contrast}}">
                <optgroup label="{{localize "AC.CharacterSheet.Inscribed"}}">
                    {{selectOptions config.inscribed localize=true selected=system.type}}
                </optgroup>
                <optgroup label="{{localize "AC.CharacterSheet.Mundie"}}">
                    {{selectOptions config.mundie localize=true selected=system.type}}
                </optgroup>
            </select>

            <input class="Summary__FooterInput JS-OwnerInput" type="text" name="system.word" value="{{system.word}}" placeholder="{{localize "AC.CharacterSheet.Word"}}" style="border-color:{{palette.primary}}">

        </div>
    </div>

    <div class="Summary__Buttons">

        {{#if (gte permission 3)}}
            <button class="ACButton" type="button" data-action="onInvokeColorPicker" data-tooltip="AC.CharacterSheet.EditColor" style="color: {{palette.secondary}}; border-color: {{palette.secondary}};">
                <span class="ACButton__Icon MSO">palette</span>
            </button>
            <input class="Summary__HiddenColor JS-InvokeColorPicker" type="color" name="system.color" value="{{system.color}}">
        {{/if}}

    </div>

</section>