<section class="biography tab" data-tab="biography" data-group="actor-tabs">

    <div class="control">
        <label>{{localize "AC.LABEL.TextEditor"}}</label>

        <select name="system.biography.editor">
            <option value="markdown">{{localize "AC.LABEL.Markdown"}}</option>
            <option value="prosemirror">{{localize "AC.LABEL.ProseMirror"}}</option>
        </select>
    </div>

    {{#if (eq system.biography.editor "markdown")}}
        <textarea data-resize name="system.biography.plaintext">{{~system.biography.plaintext}}</textarea>
    {{/if}}

    {{#if (eq system.biography.editor "prosemirror")}}
        {{editor system.biography.richtext target="system.biography.richtext" button=true engine="prosemirror" collaborate=true}}
    {{/if}}

</section>