<table class="stat-block">
    <tr class="stat-labels">
        <th>{{localize config.statLabels.stamina }}</th>
        <th>{{localize config.statLabels.proficiency }}</th>
        <th>{{localize config.statLabels.movement }}</th>
    </tr>
    <tr class="stat-containers">
        <td>
            <input class="stat-primary" type="number" name="system.stats.stamina.value" value="{{system.stats.stamina.value}}" data-dtype="Number" placeholder="0">
            <div class="divider"></div>
            <input class="stat-secondary" type="number" name="system.stats.stamina.max" value="{{system.stats.stamina.max}}" data-dtype="Number" placeholder="0">
        </td>
        <td>
            <input class="stat-single" type="number" name="system.stats.proficiency.value" value="{{system.stats.proficiency.value}}" data-dtype="Number" placeholder="0">
        </td>
        <td>
            <input class="stat-primary" type="number" name="system.stats.movement.value" value="{{system.stats.movement.value}}" data-dtype="Number" placeholder="0">
            <div class="divider"></div>
            <input class="stat-secondary" type="text" name="system.stats.movement.build" value="{{system.stats.movement.build}}" placeholder="Average">
        </td>
    </tr>
</table>