<ul class="detail-list tab" data-tab="details" data-group="item-tabs">
    
    <!-- Forumla -->
    <li class="detail">
        <header>
            <div class="labels">
                <label>{{localize config.details.rollFormula}}</label>
            </div>

            <div class="fields">
                <input type="text" name="system.details.formula" value="{{system.details.formula}}" placeholder="{{localize config.placeholder.na}}">
            </div>
        </header>
    </li>

    <!-- Action -->
    <li class="detail">
        <header>
            <div class="labels">
                <label>{{localize config.details.action}}</label>
            </div>

            <div class="fields">
                <input type="text" name="system.details.action" value="{{system.details.action}}" placeholder="{{localize config.placeholder.na}}">
            </div>
        </header>
    </li>
    
    <!-- Usage -->
    <li class="detail">
        <header>
            <div class="labels">
                <label>{{localize config.details.usage}}</label>
            </div>

            <div class="fields">
                <input type="number" name="system.details.usage.multiple" value="{{system.details.usage.multiple}}">
                <label>{{localize config.details.per}}</label>
                <input type="text" name="system.details.usage.timeframe" value="{{system.details.usage.timeframe}}">
            </div>  
        </header>

        <p class="note">{{localize config.details.usageNote}}</p>
    </li>

    <!-- Editor -->
    <li class="detail">
        <header>
            <div class="labels">
                <label>{{localize config.details.textEditor}}</label>
            </div>

            <div class="fields">
                <select name="system.details.editor">
                    {{#select system.details.editor}}
                        {{#each config.editor as |name value|}}
                            <option value="{{value}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </header>

        <p class="note">{{localize config.details.textEditorNote}}</p>
    </li>

    <!-- Test -->
    {{!-- <li class="detail">
        <header>
            <div class="labels">
                <label>Test</label>
                <span class="unit">&lpar;Units&rpar;</span>
            </div>

            <div class="fields">
                <label>Foo</label>
                <input type="text">

                <label>Bar</label>
                <input type="text">
            </div>
        </header>

        <p class="note">Testing Testing One Two Three!</p>
    </li> --}}

</ul>