<ul class="detail-list tab" data-tab="details" data-group="item-tabs">
    
    <!-- Forumla -->
    <li class="detail">
        <header>
            <div class="labels">
                <label>{{localize "AC.DETAILS.RollFormula.Name"}}</label>
            </div>

            <div class="fields">
                <input type="text" name="system.details.formula" value="{{system.details.formula}}" placeholder="{{localize "AC.DETAILS.RollFormula.Hint"}}">
            </div>
        </header>
    </li>

    <!-- Action -->
    <li class="detail">
        <header>
            <div class="labels">
                <label>{{localize "AC.DETAILS.Action.Name"}}</label>
            </div>

            <div class="fields">
                <input type="text" name="system.details.action.name" value="{{system.details.action.name}}" placeholder="{{localize "AC.N_A"}}">
            </div>
        </header>
    </li>
    
    <!-- Usage -->
    <li class="detail">
        <header>
            <div class="labels">
                <label>{{localize "AC.DETAILS.Usage.Name"}}</label>
            </div>

            <div class="fields">
                <input type="text" name="system.details.usage.multiple" value="{{system.details.usage.multiple}}">
                <label>{{localize "AC.DETAILS.Usage.Per"}}</label>
                <input type="text" name="system.details.usage.timeframe" value="{{system.details.usage.timeframe}}">
            </div>  
        </header>

        <p class="note">{{localize "AC.DETAILS.Usage.Hint"}}</p>
    </li>

    <!-- Editor -->
    <li class="detail">
        <header>
            <div class="labels">
                <label>{{localize "AC.DETAILS.TextEditor.Name"}}</label>
            </div>

            <div class="fields">

                <select name="system.details.editor">
                    <option value="markdown">{{localize "AC.LABEL.Markdown"}}</option>
                    <option value="prosemirror">{{localize "AC.LABEL.ProseMirror"}}</option>
                </select>

            </div>
        </header>

        <p class="note">{{localize "AC.DETAILS.TextEditor.Hint"}}</p>
    </li>

    <!-- Test -->
    {{!-- <li class="detail">
        <header>
            <div class="labels">
                <label>Test</label>
                <span class="unit">&lpar;Units&rpar;</span>
            </div>

            <div class="fields">
                <label>Foo</label>
                <input type="text">

                <label>Bar</label>
                <input type="text">
            </div>
        </header>

        <p class="note">Testing Testing One Two Three!</p>
    </li> --}}

</ul>