<div class="kit-piece-card">
    <div>
        <span>{{name}}</span>
        <a class="kit-piece-edit" title="{{localize config.kitText.editkitpiece}}" data-id={{_id}}>
            <i class="fas fa-feather-pointed"></i>
        </a>  
        <a class="kit-piece-delete" title="{{localize config.kitText.addkitpiece}}" data-id={{_id}}>
            <i class="fas fa-trash-can-xmark"></i>
        </a>  
    </div>
</div>