<ol class="kit tab" data-tab="kit" data-group="actor-tabs" data-kit>

    {{#each categorizedFeatures as |features category|}}

        <li class="category" data-category="{{category}}">

            <!-- Header -->
            <header data-match-category="background-color">

                <!-- Collapse -->
                <a class="control collapse" data-collapse="categories.{{category}}" data-tooltip="AC.TOOLTIP.Category.Collapse" data-contrast-category>
                    <i class="fas fa-chevron-down"></i>
                </a>
                
                <h2 data-contrast-category data-first-letter>{{category}}</h2>

                <!-- Settings -->
                <div class="category-controls" data-contrast-category>

                    {{#if @root.owner}}
                        <!-- Rename, Color, Flood -->
                        <a class="control" data-tooltip="AC.TOOLTIP.Category.Rename">
                            <i class="fas fa-pencil" data-rename></i>
                        </a>
                        <a class="control" data-tooltip="AC.TOOLTIP.Category.Color">
                            <i class="fas fa-palette" data-color></i>
                        </a>
                        <a class="control" data-tooltip="AC.TOOLTIP.Category.Flood">
                            <i class="fas fa-fill-drip" data-flood></i>
                        </a>
                    {{/if}}

                </div>

                <!-- Tracked Stats -->
                <div class="tracked-stat-list" data-tracker-list data-contrast-category>

                    {{#if @root.owner}}
                        <!-- Track -->
                        <a class="control" data-tooltip="AC.TOOLTIP.Category.Track">
                            <i class="fas fa-square-plus" data-track></i>
                        </a>
                    {{/if}}

                    {{#with (lookup @root.categorizedTrackers category)}}
                        {{#each this as |tracker index|}}
                            <div class="tracked-stat" data-tracker="{{index}}" data-contrast-category="border-color">

                                <!-- Image -->
                                {{#with (lookup @root.categories category)}}
                                    <div class="tracker-image" data-tooltip="AC.TOOLTIP.Category.EditTrackerImage">
                                        <img src="{{tracker.img}}" data-tracker-image="{{index}}" data-contrast-image="{{this.color}}">
                                    </div>
                                {{/with}}

                                {{#if @root.owner}}
                                    <!-- Untrack -->
                                    <a class="control untrack" data-tooltip="AC.TOOLTIP.Category.Untrack">
                                        <i class="fas fa-xmark" data-untrack="{{index}}"></i>
                                    </a>
                                {{/if}}

                                <!-- Label -->
                                <span class="label">{{tracker.tag}}</span>

                            </div>
                        {{/each}}
                    {{/with}}

                </div>

                <!-- Controls -->
                <div class="list-controls" data-contrast-category="color border-color">

                    {{#if @root.owner}}
                        <a class="control" data-tooltip="AC.TOOLTIP.Feature.Create">
                            <i class="fas fa-plus" data-create-feature="{{category}}"></i>
                        </a>
                        <a class="control" data-tooltip="AC.TOOLTIP.Category.Delete">
                            <i class="fas fa-sack-xmark" data-delete></i>
                        </a>
                    {{/if}}

                </div>

            </header>
            
            <!-- Features -->
            <ol class="feature-list" data-collapse-target="categories.{{category}}">
                {{#each features as |feature index|}}

                    {{> "feature" feature}}

                {{/each}}
            </ol>

            <div class="cap" data-match-category="background-color"></div>

        </li>

    {{/each}}

    {{#if owner}}
        <button data-create type="button">
            <i class="fas fa-plus"></i>
            {{localize "AC.TOOLTIP.Category.Create"}}
        </button>
    {{/if}}

</ol>
