<ol class="kit tab" data-tab="kit" data-group="actor-tabs" data-kit>

    {{#each categorizedFeatures as |features category|}}

        <li class="category" data-category="{{category}}">

            <!-- Header -->
            <header data-match-category="background-color">

                <!-- Collapse -->
                <a class="control collapse" title="{{localize @root.config.app.collapseCategory}}" data-contrast-category>
                    <i class="fas fa-chevron-down" data-collapse-flag="categories.{{category}}"></i>
                </a>
                
                <h2 data-contrast-category>{{category}}</h2>

                <!-- Settings -->
                <div class="category-controls" data-contrast-category>

                    <!-- Rename, Color, Flood -->
                    <a class="control" title="{{localize @root.config.app.renameCategory}}">
                        <i class="fas fa-pencil" data-rename></i>
                    </a>
                    <a class="control" title="{{localize @root.config.app.colorCategory}}">
                        <i class="fas fa-palette" data-color></i>
                    </a>
                    <a class="control" title="{{localize @root.config.app.floodCategory}}">
                        <i class="fas fa-fill-drip" data-flood></i>
                    </a>

                </div>

                <!-- Tracked Stats -->
                <div class="tracked-stat-list" data-tracker-list data-contrast-category>

                    <!-- Track -->
                    <a class="control" title="{{localize @root.config.app.trackStat}}">
                        <i class="fas fa-square-plus" data-track></i>
                    </a>

                    {{#with (lookup @root.categorizedTrackers category)}}
                        {{#each this as |tracker index|}}
                            <div class="tracked-stat" data-tracker="{{index}}" data-contrast-category="border-color">

                                <!-- Image -->
                                {{#with (lookup @root.categories category)}}
                                    <div class="tracker-image" title="{{localize @root.config.app.setStatImage}}">
                                        <img src="{{tracker.img}}" data-tracker-image="{{index}}" data-contrast-image="{{this.color}}">
                                    </div>
                                {{/with}}

                                <!-- Untrack -->
                                <a class="control" title="{{localize @root.config.app.untrackStat}}">
                                    <i class="fas fa-xmark" data-untrack="{{index}}"></i>
                                </a>

                                <!-- Label -->
                                <span class="label">{{tracker.tag}}</span>

                            </div>
                        {{/each}}
                    {{/with}}

                </div>

                <!-- Controls -->
                <div class="list-controls" data-contrast-category="color border-color">

                    <a class="control" title="{{localize @root.config.app.createFeature}}">
                        <i class="fas fa-plus" data-create-feature="{{category}}"></i>
                    </a>
                    <a class="control" title="{{localize @root.config.app.deleteCategory}}">
                        <i class="fas fa-sack-xmark" data-delete></i>
                    </a>

                </div>

            </header>
            
            <!-- Features -->
            <ol class="feature-list" data-collapse-flag="target categories.{{category}}">
                {{#each features as |feature index|}}

                    {{> "feature" feature}}

                {{/each}}
            </ol>

            <div class="cap" data-match-category="background-color"></div>

        </li>

    {{/each}}

    <button data-create type="button">
        <i class="fas fa-plus"></i>
        {{localize config.app.createCategory}}
    </button>

</ol>
