<section class="kit-bar">
    <h2>
        <div>{{localize config.kitText.kitbartitle}}</div>
        <a class="kit-piece-create" title="{{localize config.kitText.addkitpiece}}">
            <i class="fas fa-plus"></i>
        </a>  
    </h2>
</section>
<h2>{{localize config.kitTypesPlural.weapons}}</h2>
<div>
    {{#each weapons as |item id|}}
        {{> "systems/animecampaign/templates/sheets/partials/kit-piece-card.hbs" item}}
    {{/each}}
</div>
<hr>
<h2>{{localize config.kitTypesPlural.talents}}</h2>
<div>
    {{#each talents as |item id|}}
       {{> "systems/animecampaign/templates/sheets/partials/kit-piece-card.hbs" item}}
    {{/each}}
</div>
<hr>
<h2>{{localize config.kitTypesPlural.passives}}</h2>
<div>
    {{#each passives as |item id|}}
       {{> "systems/animecampaign/templates/sheets/partials/kit-piece-card.hbs" item}}
    {{/each}}
</div>
<hr>
<h2>{{localize config.kitTypesPlural.abilities}}</h2>
<div>
    {{#each abilities as |item id|}}
       {{> "systems/animecampaign/templates/sheets/partials/kit-piece-card.hbs" item}}
    {{/each}}
</div>