<table class="main-stats">

    <!-- Headers -->
    <tr>
        <th>{{localize "AC.STAT.Stamina"}}</th>
        <th>{{localize "AC.STAT.Proficiency"}}</th>
        <th>{{localize "AC.STAT.Movement"}}</th>
    </tr>

    <!-- Inputs -->
    <tr>

        <!-- Stamina -->
        <td>
            <input class="top" type="number" name="system.stamina.value" value="{{system.stamina.value}}" placeholder="{{localize "AC.LABEL.Value"}}">
            <input class="bottom" type="number" name="system.stamina.max" value="{{system.stamina.max}}" placeholder="{{localize "AC.LABEL.Max"}}">
        </td>

        <!-- Proficiency -->
        <td>
            <input type="number" name="system.proficiency.value" value="{{system.proficiency.value}}" placeholder="0">
            <div class="class-level">
                <div>{{system.classLevel}}</div>
            </div>
        </td>

        <!-- Movement -->
        <td>
            <input class="top" type="number" name="system.movement.value" value="{{system.movement.value}}" placeholder="{{localize "AC.LABEL.Spaces"}}">
            <input class="bottom" type="text" name="system.movement.label" value="{{system.movement.label}}" placeholder="{{localize "AC.LABEL.Build"}}">
        </td>
    </tr>

</table>