<ol class="section-list tab" data-tab="description" data-group="item-tabs" data-section-list>

    {{#each system.sections as |section index|}}
    
        <!-- Section -->
        <li class="section" data-section="{{index}}">

            <!-- Control -->
            <div class="panel">

                <!-- Collapse -->
                <a class="control collapse" data-collapse="sections.{{index}}" title="{{localize config.app.collapseSection}}">
                    <i class="fas fa-chevron-down"></i>
                </a>

                <!-- Grip -->
                <i class="control grip fas fa-grip-vertical" data-section-grip="{{index}}"></i>

            </div>

            
            <div class="section-body">

                <header>
                    
                    <!-- Name -->
                    <input class="name" type="text" name="system.sections.{{index}}.name" placeholder="{{localize @root.config.placeholder.label}}" value="{{section.name}}">

                    {{#if @root.owner}}
                        <!-- Controls -->
                        <a class="toggle-view" title="{{localize @root.config.app.toggleSectionVisibility}}">
                            <i class="fas fa-eye" data-toggle></i>
                        </a>
                        <a title="{{localize @root.config.app.deleteSection}}">
                            <i class="fas fa-trash" data-remove></i>
                        </a>
                    {{/if}}

                </header>

                <div data-collapse-target="sections.{{index}}">

                    {{#if (eq @root.system.details.editor 'markdown')}}
                        <textarea name="system.sections.{{index}}.plaintext" placeholder="{{localize @root.config.placeholder.text}}" data-resize data-enter="shift">{{~section.plaintext}}</textarea>
                    {{/if}}

                    {{#if (eq @root.system.details.editor 'prosemirror')}}
                        {{editor section.richtext target=(concat "system.sections." index ".richtext") button=true engine="prosemirror" collaborate=true}}
                    {{/if}}

                </div>

            </div>

        </li>

    {{/each}}

    {{#if owner}}
        <button data-add type="button">
            <i class="fas fa-plus"></i>
            {{localize config.app.addSection}}
        </button>
    {{/if}}

</ol>