<ol class="stat-list" data-stat-list>

    <!-- Header -->
    <header class="stat-header">

        {{#if owner}}
            <!-- Collapse -->
            <a class="control collapse" title="{{localize config.app.collapseStats}}">
                <i class="fas fa-chevron-down" data-collapse-flag="stat-list" ></i>
            </a>
        {{else}}
            <a class="control collapse" data-collapse-short="stat-list" title="{{localize config.app.collapseStats}}">
                <i class="fas fa-chevron-down" ></i>
            </a>
        {{/if}}

        {{#if (eq documentName "Actor")}}
            <h2 >{{localize config.app.colorStats}}</h2>
        {{/if}}

        {{#if (eq documentName "Item")}}
            <h2 >{{localize config.app.stats}}</h2>
        {{/if}}

        {{#if owner}}
            <span class="label view">{{localize config.app.view}}</span> 

            <!-- Add Stat -->
            <a class="control add-stat" title="{{localize config.app.addStat}}">
                <i class="fas fa-plus" data-add></i>
            </a>
        {{/if}}

    </header>

    <!-- Stat Entry -->
    {{#each statList as |stat key|}}

        <li class="stat" data-stat="{{key}}" data-collapse-{{#if owner}}flag{{else}}short{{/if}}="target stat-list">

            {{#if (eq ../documentName "Actor")}}

                <!-- Color Select -->
                <select class="color" name="system.stats.{{key}}.color" data-match-select="{{key}}">
                    {{#select stat.color}}
                        {{#each ../config.colorStat as |color key|}}
                            <option value="{{key}}" data-color-option="{{key}}">{{localize color}}</option>
                        {{/each}}
                    {{/select}}
                </select>

            {{/if}}

            {{#if (eq ../documentName "Item")}}

                <!-- Image -->
                <img class="img" src="{{stat.img}}" data-edit="system.stats.{{key}}.img">

            {{/if}}

            <!-- Tag -->
            <input class="tag" type="text" name="system.stats.{{key}}.tag" value="{{stat.tag}}" placeholder="{{localize @root.config.placeholder.tag}}">

            <!-- Content -->
            <div class="content">
                {{#if (eq stat.view 'value')}}
                    <input class="content" type="number" name="system.stats.{{key}}.value" value="{{stat.value}}" placeholder="{{localize @root.config.placeholder.value}}">
                {{/if}}

                {{#if (eq stat.view 'resource')}}
                    <input class="content" type="number" name="system.stats.{{key}}.value" value="{{stat.value}}" placeholder="{{localize @root.config.placeholder.value}}">
                    <div class="divider">/</div>
                    <input class="content" type="number" name="system.stats.{{key}}.max" value="{{stat.max}}" placeholder="{{localize @root.config.placeholder.max}}">
                {{/if}}

                {{#if (eq stat.view 'label')}}
                    <input class="content" type="text" name="system.stats.{{key}}.label" value="{{stat.label}}" placeholder="{{localize @root.config.placeholder.label}}">
                {{/if}}
            </div>

            {{#if @root.owner}}
                <div class="line"></div>
                
                <!-- View -->
                <div class="view">
                    <a title="Set View to Value">
                        <i class="fas fa-hashtag" data-view="value"></i>
                    </a>
                    <a title="Set View to Resource">
                        <i class="fas fa-percent" data-view="resource"></i>
                    </a>
                    <a title="Set View to Label">
                        <i class="fas fa-font" data-view="label"></i>
                    </a>
                </div>

                <!-- Delete -->
                <a class="control" title="Delete Stat">
                    <i class="fas fa-trash" data-remove></i>
                </a>
            {{/if}}

        </li>

    {{/each}}

    <div class="cap"></div>

</ol>