<header class="summary">

    <!-- Background -->
    <div class="background" data-match="background-color"></div>

    <section class="profile">

        <div class="buttons">

            {{#if owner}}
                <!-- Color -->
                <input class="color" type="color" name="system.color" data-edit="system.color" title="{{localize config.app.editColor}}" value="{{system.color}}">
                <a class="color-button" data-contrast="color border-color">
                    <i class="fas fa-palette"></i>
                </a>
            {{/if}}

            {{#if (eq documentName "Item")}}
                {{#unless limited}}
                    <!-- Roll -->
                    <a class="roll" title="{{localize config.app.roll}}" data-contrast="color border-color">
                        <i class="fas fa-dice-d20" data-roll></i>
                    </a>
                {{/unless}} 
            {{/if}}

        </div>

        <!-- Image -->
        <img class="img" src="{{document.img}}" data-edit="img" data-match="background-color">
    </section>

    <section class="summary-top">
        <!-- Name -->
        <div class="name" data-edit="name" spellcheck='false' {{#if owner}}contenteditable{{/if}} data-name data-enter data-contrast data-plaintext>{{~document.name}}</div>

        {{#if (eq documentName "Actor")}}
            <!-- Class -->
            <textarea class="class" name="system.class" placeholder="{{localize config.placeholder.class}}" data-resize data-enter data-contrast>{{~system.class}}</textarea>
        {{/if}}

        {{#if (eq documentName "Item")}}
            <!-- Proficiency Value -->

            <!-- Action -->
            <!-- img class="action" src="{{system.details.action.img}}" data-contrast-image="{{system.color}}" alt="systems/animecampaign/assets/transparent.svg" -->

        {{/if}}
    </section>

    <section class="summary-bottom">
        
        {{#if (eq documentName "Actor")}}
            <!-- Type of mundie or epithet user -->
            <select class="type" name="system.type">

                <optgroup label="{{localize config.powerset.inscribed}}">
                    {{#select system.type}}
                        {{#each config.type.inscribed as |name key|}}
                            <option value="{{key}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </optgroup>
                
                <optgroup label="{{localize config.powerset.mundie}}">
                    {{#select system.type}}
                        {{#each config.type.mundie as |name key|}}
                            <option value="{{key}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </optgroup>

            </select>

            <!-- Core Word or Epithet -->
            <input class="word" type="text" name="system.word" value="{{system.word}}" placeholder="{{localize config.placeholder.word}}">
        {{/if}}

        {{#if (eq documentName "Item")}}
            <!-- Category -->
            <select class="category-select" data-select-category="select">
                {{#select system.category}}
                    {{#each categories as |category index|}}
                        <option value="{{category}}">{{category}}</option>
                    {{/each}}
                {{/select}}
            </select>

            <input class="category-input" type="text" name="system.category" value="{{system.category}}" placeholder="{{localize config.placeholder.category}}" data-select-category="target">
        {{/if}}

    </section -->
    
</header>
