<!-- div class="dialog__bg">
    <svg>
    </svg>
</div -->

<div class="dialog__content">
    {{{content}}}
</div>

    {{log this}}

<div class="dialog__button-list">
    {{#each buttons as |button id|}}

        <button class="dialog__button dialog-button {{cssClass}}" data-button="{{id}}" {{disabled button.disabled}}>
            <span class="material-symbols-outlined">
                {{{button.icon}}}
            </span>
            <span class="dialog__button-text">
                {{{button.label}}}
            </span>
        </button>

        <div class="dialog__button-svg--wrapper">
            <svg class="dialog__button-svg" viewBox="0 0 100 100">
                <text class="dialog__button-icon" x="0" y="100">
                    {{{button.icon}}}
                </text>
            </svg>
        </div>
        
    {{/each}}
</div>
