<form class="{{cssClass}}" autocomplete="off">

    <!-- Background -->
    <div class="background-wrapper">
        <section class="background">

            <svg class="svg-text" viewBox="0 0 100 10">
                <text class="stroke" stroke="{{palette.secondary}}" x="26" y="9">{{svg.text}}</text>
                <text class="fill" fill="{{palette.secondary}}" x="26" y="9">{{svg.text}}</text>
            </svg>

            <svg class="svg-bg" viewBox="0 0 850 400">
                <use x="10" y="-15" href="{{svg.bg}}" fill="{{palette.secondary}}" />
            </svg>

        </section>
    </div>

    <!-- Summary -->
    <section class="summary">
        
        <img class="img" src="{{img}}" data-edit="img" data-color="{{palette.primary}}">

        <section class="summary-info">

            <textarea class="name" name="name" spellcheck="false" placeholder="{{localize "AC.LABEL.Name"}}" data-enter data-resize>{{name}}</textarea>

            <div class="label-list" data-color="{{palette.secondary}}">
                <label class="label-name" for="name">{{localize "AC.LABEL.Name"}}</label>
                <label class="label-class" for="class">{{localize "AC.LABEL.Class"}}</label>
            </div>

            <input class="class" type="text" name="system.class" spellcheck="false" placeholder="{{localize "AC.LABEL.Class"}}" value="{{system.class}}">
            

            <div class="summary-info-footer" data-color="{{palette.primary}}" data-color-props="background-color"> 
                <select class="type" class="type" name="system.type" data-color="{{palette.contrast}}">
                    {{#select system.type}}
                        <optgroup label="{{localize "AC.TYPE.Inscribed"}}">
                            {{selectOptions config.inscribed localize=true}}
                        </optgroup>
                        
                        <optgroup label="{{localize "AC.TYPE.Mundie"}}">
                            {{selectOptions config.mundie localize=true}}
                        </optgroup>
                    {{/select}}
                </select>
                
                <input class="word" type="text" name="system.word" value="{{system.word}}" spellcheck="false" placeholder="{{localize "AC.LABEL.Word"}}" data-color="{{palette.primary}}" data-color-props="border-color">
            </div>
            
        </section>

        <section class="summary-controls">
            <input type="color" name="system.color" value="{{system.color}}">
        </section>

    </section>

    
</form>