<div class="animecampaign kit-piece-roll" {{match color style='border-color'}}>

    <section class="summary">
        <header {{match color style='background-color'}}>
            <img class="img" {{match color style='background-color'}} src="{{img}}" data-edit="img">
            <div class="name" {{contrast color}}>
                {{name}}
            </div>
        </header>

        <span class="type">
            {{#if (eq system.type 'custom')}}
                {{system.customType}}
            {{else}}
                {{system.type}}
            {{/if}}
        </span>
    </section>

    {{#if roll}}
        <section class="roll">
            <div class="total" {{match roll.color}}>
                {{ roll.totalInt }}
            </div>
            <div class="formula">
                &lpar; {{ roll.formula }} &rpar;
            </div>
        </section>
    {{/if}}

    {{#if system.stats}}
        <table class="stats">
            {{#each system.stats as |stat index|}}
                <tr data-index="{{index}}">
                    <td class="stat-img">
                        {{#if stat.img}}
                            <img src="{{stat.img}}">
                        {{/if}}
                    </td>

                    <td class="stat-name">
                        {{#if stat.name}}
                            {{stat.name}}
                        {{else}}...{{/if}}
                    </td>

                    <td class="stat-value">
                        {{#if stat.value}}
                            {{stat.value}}
                        {{else}}0{{/if}}

                        {{#if (eq stat.settings.display 'double')}}
                            <span class="stat-max">/ {{stat.max}}</span>
                        {{/if}}
                    </td>
                </tr>
            {{/each}} 
        </table>
    {{/if}}

    {{#if system.sections}}
        <section class="sections">
            {{#each system.sections as |section index|}}

                <fieldset class="section">

                    <legend class="section-label">
                        <a class="collapse">
                            <i class="fas {{ifThen section.hidden "fa-chevron-right" ""}} fa-chevron-down"></i>
                        </a>
                        {{#if section.label}}
                            <a>{{section.label}}</a>
                        {{/if}}
                    </legend>

                    <div class="section-text markdown {{ifThen section.hidden "hidden" ""}}">
                        {{! {section.text} }} 
                        {{{section.markdown}}}
                    </div>

                </fieldset>
            {{/each}}
        </section>
    {{/if}}

    <div class="economy">
        {{#unless (eq system.action "blank")}}
            <span class="action">{{system.action}}</span>
        {{else}}
            <span></span>
        {{/unless}}
        
        {{#if system.usage}}
            <span class="usage">{{system.usage}}</span>
        {{/if}}
    </div>
    
</div>