<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/animecampaign/templates/sheets/partials/character-summary.hbs"}}

    <section class="scrollable">
        {{> "systems/animecampaign/templates/sheets/partials/character-stats.hbs"}}
        
        <nav class="flexrow tabs" data-group="primary-tabs">
            <a class="item" data-group="primary-tabs" data-tab="kit">{{ localize config.navigationLabels.kit }}</a>
            <a class="item" data-group="primary-tabs" data-tab="upgrades">{{ localize config.navigationLabels.upgrades }}</a>
            <a class="item" data-group="primary-tabs" data-tab="biography">{{ localize config.navigationLabels.biography }}</a>
        </nav>

        <section class="content">
            <div class="tab" data-group="primary-tabs" data-tab="kit">
                {{> "systems/animecampaign/templates/sheets/partials/kit.hbs"}}
            </div>
            <div class="tab" data-group="primary-tabs" data-tab="upgrades">
                {{> "systems/animecampaign/templates/sheets/partials/upgrades.hbs"}}
            </div>
            <div class="tab" data-group="primary-tabs" data-tab="biography">
                {{> "systems/animecampaign/templates/sheets/partials/biography.hbs"}}
            </div>
        </section>

    <p>{{localize config.test}}</p>

    {{#each items as |item id|}}
        <p>{{item.name}}</p>
    {{/each}}

    </section>
</form>