<form class="{{cssClass}}" autocomplete="off">

    <!-- Summary -->
    <section class="summary">

        <svg class="svg-text" viewBox="0 0 100 100">
            <text class="stroke" stroke="{{color}}" x="29" y="8">{{svg.text}}</text>
            <text class="fill" fill="{{color}}" x="29" y="8">{{svg.text}}</text>
        </svg>

        <svg class="svg-bg" viewBox="0 0 800 600">
            <use href="{{svg.bg}}" fill="{{color}}" />
        </svg>

    </section>
    
</form>