<form class="{{cssClass}}" autocomplete="off">
    <div class="background" {{match system style='background-color'}}></div>
    <input class="background-input" type="color" name="system.color" data-edit="system.color" value="{{system.color}}">

    <header class="sheet-header">
        <img class="img" {{match system style='background-color'}} src="{{item.img}}" data-edit="img" title="{{item.name}}">

        <section class="header-top">
            <div class="name" {{contrast system}} data-edit="name" spellcheck='false' contenteditable>
                {{item.name}}
            </div>
            <a class="roll">
                <i class="fas fa-dice-d20"></i>
            </a>
        </section>

        <section class="header-bottom">
            <select class="type" name="system.type">
                {{#select system.type}}
                    {{#each config.kitTypes as |name key|}}
                        <option value="{{key}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
                
                {{#if (eq system.type 'custom')}}
                    <input class="custom-type" name="system.customType" value="{{system.customType}}" placeholder="custom type" type="text">
                {{/if}}
            </select>
        </section>
    </header>

    <div class="scrollable">
        <section class="settings">
            <label for="system.formula">Roll Formula</label>
            <input type="text" name="system.formula" value="{{system.formula}}" placeholder="1d20">
        </section>

        {{> "systems/animecampaign/templates/sheets/partials/stats.hbs"}}
        
        <section class="sections">
            {{#each system.sections as |section index|}}
                <div class="section" data-index="{{index}}">
                    <input type="text" name="system.sections.{{index}}.name" value="{{section.name}}" placeholder="Name (Optional)">

                    {{editor section.text engine='prosemirror' target=(concat "system.sections." index ".text") button='true'}}

                    <div class="section-options">
                        <a class="section-delete">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>

                    <div class="hidden section-schema">
                        <input type="text" name="system.sections.{{index}}.text" value="{{section.text}}">
                    </div>

                </div>
            {{/each}}
        </section>
        
        <a class="add-section">
            <i class="fas fa-plus">Add Section</i>
        </a>
    </div>

</form>