<form class="{{cssClass}}" autocomplete="off">
    <div class="background"></div>
    <input class="background-input" type="color" name="system.color" data-edit="system.color" value="{{system.color}}">

    <header class="sheet-header">
        <img class="img" src="{{item.img}}" data-edit="img" title="{{item.name}}">

        <section class="header-top">
            <div class="name" data-edit="name" spellcheck='false' contenteditable>
                {{item.name}}
            </div>
        </section>
    </header>
</form>