<form class="{{cssClass}}" autocomplete="off">
    <div class="background" {{match color style='background-color'}}></div>
    <input class="background-input" type="color" name="system.color" data-edit="system.color" value="{{system.color}}">

    <header class="sheet-header">
        <img class="img" {{match color style='background-color'}} src="{{item.img}}" data-edit="img" title="{{item.name}}">

        <section class="header-top">
            <div class="name" {{contrast color}} data-edit="name" spellcheck='false' {{#if (eq ownership 3)}}contenteditable{{/if}}>
                {{item.name}}
            </div>

            {{#unless (eq ownership 1)}}
                <div class="buttons" {{contrast color}}>
                    <a class="post">
                        <i class="fas fa-message"></i> Post
                    </a>
                    <a class="roll">
                        <i class="fas fa-dice-d20"></i> Roll
                    </a>
                </div>
            {{/unless}}
        </section>

        <section class="header-bottom">
            <select class="type" name="system.type">
                {{#select system.type}}
                    {{#each config.kitTypes as |name key|}}
                        <option value="{{key}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
                
                {{#if (eq system.type 'custom')}}
                    <input class="custom-type" name="system.customType" value="{{system.customType}}" placeholder="custom type" type="text">
                {{/if}}
            </select>
        </section>
    </header>

    <div class="scrollable">

        {{> "systems/animecampaign/templates/sheets/partials/stats.hbs"}}

        <section class="settings">
            <div class="roll-formula-label">Roll Formula</div>
            <input class="roll-formula" type="text" name="system.formula" value="{{system.formula}}" placeholder="N/A">
        </section>

        {{~> "systems/animecampaign/templates/sheets/partials/sections.hbs"}}
        
    </div>

</form>