<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="54">
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"></h1>
    </header>
    <p>Testing Testing one two three!</p>
    <input name="system.damage" type="text" value="{{system.damage}}" data-dtype="Number">
    <input name="system.range" type="text" value="{{system.range}}" data-dtype="Number">
    <textarea name="system.description">{{system.description}}</textarea>
</form>